*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Handlee', sans-serif;
}

html {
    background: transparent;
    position: absolute;
}

body {
    background: linear-gradient(to right, grey 0, black 100%);
    color: white;
    position: relative;
    height: fit-content;
}

h1 {
   
    text-align: center;
    font-size: 2em;
}

#quiz-section {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 80vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container {
    width: 800px;
    max-width: 80%;
    background-color: darkgray;
    border: 3px solid rgb(151, 27, 27);
    border-radius: 25px;
    padding: 50px;
}


.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 12px;
    margin: 20px 0;
}

.btn {
    border: 1px solid black;
    background-color: rgb(151, 27, 27);
    padding: 5px 15px;
    border-radius: 25px;
    color: white;
    letter-spacing: 2px;
}

.btn:hover {
    border: 5px solid black;
}

.start-btn, .next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

/* makes correct button green and wrong answers red */ 
.correct {
    background-color: green;
}

.wrong {
    background-color: rgb(92, 92, 92);
}

#score-container {
    width: 100%;
    position: fixed;
    bottom: 10px;
    left: 10px;
}

#score_p {
    padding-bottom: 5%;
    text-align: center;
    font-size: 2em;
}

#score {
    position: relative;
    margin: 0 auto;
    font-size: 2rem;
    text-align: center;
}

.result {
    text-align: center;
    padding-bottom: 3%;
    font-size: 1,7rem;
}

